*{
    margin: 0;
    padding: 0;
}

.text-center{
    text-align: center;
}

.text-justify{
    text-align: justify;
}

.pad{
    padding: 0 2% 0 2%;
}

.header{
    margin: 0px;
    width: 100%;
    height: 60px;
    background-color: darkred;
    text-align: center;
  }

  .button1{
    margin-top: 3px;
    background-color: white;
     border: none;
     color: red;
     border: 2px solid red;
     padding: 15px 32px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 16px;
     -webkit-transition-duration: 0.4s;
     transition-duration: 0.4s;
     box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
     cursor: pointer;
     border-radius: 20px 20px;
  }
  
  .button1:hover {
      background-color: darkred; 
      border: 2px solid darkred;
      color: white;
  }

  .degradado{
    background-color: white;
    box-shadow: inset 0 0 32px 35px darkred;
    text-align: center;
    padding-top: 0px;
  }

  .seccion{
    background-color: darkred;
    text-align: center;
    padding-top: 0px;
    color: white;
  }

.slider{
    width: 100%;
    margin: auto;
    overflow: hidden;
  }
  
  .slider ul{
    display: flex;
    padding: 0;
    width: 200%;
  
    animation: cambio 25s infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
  }
  
  .slider li{
    width: 100%;
    list-style: none;
  }
  
  
  .slider img{
    width: 100%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }
  
  @keyframes cambio {
    0%{margin-left: 0;}
    30%{margin-left: 0;}
  
    35%{margin-left: 0;}
    50%{margin-left: 0;}
  
    55%{margin-left: -100%;}
    70%{margin-left: -100%;}
  
    75%{margin-left: -100%;}
    90%{margin-left: 0;}
  
  }

  .imgsocialnt{
    width: 50px; 
    height: 50px;
  }

  .foot{
    background-color: rgb(99, 5, 5);
    color: white;
    height: 30px;
    padding: 10px 0 0 0;
  }