#main_nav, footer {
  box-shadow: 0px 0px 5px orange;
  background: #ff9100;
}

#main_nav ul {
  display: flex;
  justify-content: space-evenly;
  margin: 0;
  padding: 20px 0;
}

#main_nav ul li {
  list-style: none;
}

#main_nav ul li a {
  text-transform: uppercase;
  text-decoration: none;
  color: #110260;
}

.text-center {
  text-align: center;
}

.photo {
  max-width: 100%;
  max-height: 175px;
}

footer {
  background: #ff9100;
  padding: 20px 0;
}